html{
    height:100%;
}

body{
    height:100%;
    width:100%;
    margin:0px auto;
}

#main{
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack:center;
	-moz-box-pack:center;
}
#header{
	height: 100px;
}
#controller{
	width: 170px;
	position: fixed;
}
#controller2{
	width: 170px;
	position: fixed;
}
#wrapper{


}