                                
  #wrapper {                                              
  	width: 960px;
  	height: 1390px;                     
  	margin: 0;                        
  	padding: 0;                         
  	background-image:url(../img/cotton-wall.png);
  	position: relative;
    }                                                      
                                      
  .block {                            
    position: absolute;               
    /*background: rgba(255,0,0,.2);*/
	border: inset 3px transparent;
	/*border-width: 2px 0;*/
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 3px #55bfff;
    }
    
  .box {
    /*width: 190px;*/  
    margin: 3px;
    padding: 10px;
    float: left;  
    background: #424242;  
    color: #FFF;  
    display: inline;  /* IE6 fix */
    border: 3px solid #ccc;
  }
  .hilite{
    z-index:auto;
   	border: solid 3px #00bfff;
  } 
  .hilite2{
    z-index:1000;
   	border: solid 3px #00ff40;
  }

/* img style */
  img.flright{
   	float: right;
  }
  img.flleft{
   	float: left;
  }

/* swich style */
	.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../css/iphone-style-switches/switch.gif) repeat-x; display: block; float: left; }
    .cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
    .cb-enable span { background-position: left -90px; padding: 0 10px; }
    .cb-disable span { background-position: right -180px;padding: 0 10px; }
    .cb-disable.selected { background-position: 0 -30px; }
    .cb-disable.selected span { background-position: right -210px; color: #fff; }
    .cb-enable.selected { background-position: 0 -60px; }
    .cb-enable.selected span { background-position: left -150px; color: #fff; }
    .switch label { cursor: pointer; }
    .switch input { display: none; }
    
/* sonota */                   
  .controllerbg{
   	background: #6080e0;
   	width: 150px;
    height: 320px;
    z-index:100;
    padding: 10px;
  }
  #tabs-1{
    height: 250px;
  }
  #tabs-2{
    height: 250px;
  }
  
  .controller3css{
   	width: 100%;
    height: 150px;
    z-index:100;
    padding: 10px;
  }
  
  p.ui-state-default {
	margin: 2px;
	position: relative;
	padding: 4px 0;
	cursor: pointer;
	float: left;
  }
  span.ui-icon {
	float: left;
	margin: 0 4px;
  }
                                      
  .inner {                            
    height: 100%;                     
    width: 100%;                      
    }                                 
                                      
  .s1x1 {width: 120px;height: 168px;}
  .s2x1 {width: 272px;height: 168px;}
  .s3x1 {width: 424px;height: 168px;}
  .s4x1 {width: 576px;height: 168px;}
  .s5x1 {width: 728px;height: 168px;}
  .s6x1 {width: 880px;height: 168px;}
  .s7x1 {width: 1032px;height: 168px;}
  .s8x1 {width: 1184px;height: 168px;}
  
  .s1x2 {width: 120px;height: 368px;}
  .s2x2 {width: 272px;height: 368px;}
  .s3x2 {width: 424px;height: 368px;}
  .s4x2 {width: 576px;height: 368px;}
  .s5x2 {width: 728px;height: 368px;}
  .s6x2 {width: 880px;height: 368px;}
  .s7x2 {width: 1032px;height: 368px;}
  .s8x2 {width: 1032px;height: 368px;}
  
  .s1x3 {width: 120px;height: 568px;}
  .s2x3 {width: 272px;height: 568px;}
  .s3x3 {width: 424px;height: 568px;}
  .s4x3 {width: 576px;height: 568px;}
  .s5x3 {width: 728px;height: 568px;}
  .s6x3 {width: 880px;height: 568px;}
  .s7x3 {width: 1032px;height: 568px;}
  .s8x3 {width: 1032px;height: 568px;}
  
  .s1x4 {width: 120px;height: 768px;}
  .s2x4 {width: 272px;height: 768px;}
  .s3x4 {width: 424px;height: 768px;}
  .s4x4 {width: 576px;height: 768px;}
  .s5x4 {width: 728px;height: 768px;}
  .s6x4 {width: 880px;height: 768px;}
  .s7x4 {width: 1032px;height: 768px;}
  .s8x4 {width: 1032px;height: 768px;}
  
  .s1x5 {width: 120px;height: 968px;}
  .s2x5 {width: 272px;height: 968px;}
  .s3x5 {width: 424px;height: 968px;}
  .s4x5 {width: 576px;height: 968px;}
  .s5x5 {width: 728px;height: 968px;}
  .s6x5 {width: 880px;height: 968px;}
  .s7x5 {width: 1032px;height: 968px;}
  .s8x5 {width: 1032px;height: 968px;}
  
  .s1x6 {width: 120px;height: 1168px;}
  .s2x6 {width: 272px;height: 1168px;}
  .s3x6 {width: 424px;height: 1168px;}
  .s4x6 {width: 576px;height: 1168px;}
  .s5x6 {width: 728px;height: 1168px;}
  .s6x6 {width: 880px;height: 1168px;}
  .s7x6 {width: 1032px;height: 1168px;}
  .s8x6 {width: 1032px;height: 1168px;}
  
  .s1x7 {width: 120px;height: 1368px;}
  .s2x7 {width: 272px;height: 1368px;}
  .s3x7 {width: 424px;height: 1368px;}
  .s4x7 {width: 576px;height: 1368px;}
  .s5x7 {width: 728px;height: 1368px;}
  .s6x7 {width: 880px;height: 1368px;}
  .s7x7 {width: 1032px;height: 1368px;}
  .s8x7 {width: 1032px;height: 1368px;}
  
  .s1x8 {width: 120px;height: 1568px;}
  .s2x8 {width: 272px;height: 1568px;}
  .s3x8 {width: 424px;height: 1568px;}
  .s4x8 {width: 576px;height: 1568px;}
  .s5x8 {width: 728px;height: 1568px;}
  .s6x8 {width: 880px;height: 1568px;}
  .s7x8 {width: 1032px;height: 1568px;}
  .s8x8 {width: 1032px;height: 1568px;}

  
                                      
                           
  .creditline {                       
    position: absolute;               
    top: 850px;                       
    left: 10px;                       
    font-family: Helvetica, sans-serif;
    font-size: 13px;                  
    color: gray;                      
  }      

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
 /* IE6 */
* html .clearfix { zoom: 1;}
 /* IE7 */
*:first-child+html .clearfix {zoom: 1;}
